.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

menu {
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
    border: solid darkblue 2px;
    border-radius: 15px;
}

menu h2{
    color: darkblue;
}

menu h2:hover{
    color: blue;
    font-size: 30px;
}

section{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    font-style: oblique;
    color: darkblue;
}

section img {
    border-radius: 70px;
}